<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/static/images/3917754.ico" type="x-icon">
	<link href="/static/css/style.css" rel="stylesheet" type="text/css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/static/js/main.js"></script>
	<title>FindIt</title>
</head>
<body>
	<div class="logo">
		<img src="/static/images/logo.png" alt="Logo" class="logo-img">
	</div>
	<p1>This is an ad-board, find the most recent ads for <b>free</b></p1>
	
	<div class="upload-button">
		<div class="border"></div>
		<img class="plus-icon" alt="plus-icon" src="/static/images/aaa-1.png" title="Optimal upload view: 1080px width"/>
	</div>
	
	<div class="container">
		<div class="image-containers"></div>
	</div>
	
	<div class="popup" id="popup">
		<div class="popup-content">
			<img id="popup-image" src=" " alt="">
			<button id="close-popup">Close</button>
		</div>
	</div>
</body>
</html>